/* добавила шрифты как смогла. Как правильно не знаю */
@font-face {
	font-family: "Roboto Regular";
	src:url("../fonts/Roboto-regular/roboto-regular.woff") format("woff"); 
	font-family: "Montserrat Regular";
    src:url("../fonts/montserrat-regular/montserrat-regular.woff") format("woff"); 
}

.container {
    width: 1200px;
    margin: auto;
}

/* Обнулила, чтобы сбросить все стандартные отступы . 
Далее margin поставила у некоторых элементов просто, чтобы попробовать.
Скорее всего большинство неверно, т.к. элементы еще не распределены по странице */
* {
    margin: 0;
    padding: 0;
}

/* Одинаковые свойства вынесла отдельно */
/* Шрифты Начало */
header, section {
    font-family: "Roboto Regular";
    font-size: 14px;
    font-weight: 500;
}

footer {
    font-family: "Montserrat Regular";
}
/* Шрифты Конец*/

/* Заголовки Начало */
.h1-text {
    font-size: 64px;
    font-weight: 600;
    color: #141414;
    text-transform: uppercase;
}

.h2-text {
    font-size: 28px;
    font-weight: 600;
    color: #BF6024;
}

.h3-text {
    font-size: 24px;
    font-weight: 600;
    color:#141414;
    text-transform: uppercase;
} 
/* Заголовки Конец*/

/* Секция header Начало */
header {
    margin-bottom: 32px;
}

.header-top {
    margin-bottom: 28px;
} 

.header-top_p {
    font-size: 14px;
    font-weight: 400;
    /* line-height: 128%; */
    color: #7e8189;
}

.header-top_feedback {
    font-size: 14px;
    font-weight: 500;
    color: #576698;
}

.header-top_text {
    text-transform: uppercase;
}

.header-top_tel {
    color: #484848;
    text-decoration: none;
}

/* сделала просто , чтобы видеть эту линию */
hr {
    margin-bottom: 25px;
}

line {
    margin-bottom: 25px;
} 

.menu {
    margin-bottom: 36px;
}

.menu ul{
    list-style: none;
}

.menu a{
    font-size: 14px;
    font-weight: 500;
    color: #7A7A7A;
    text-decoration: none;
} 

.header-img {
    margin-bottom: 25px;
}
/* Секция header Конец */

.events {
    margin-bottom: 67px;
}

.events h2, .booking h2 {
   margin-bottom: 31px;
}

.events_p {
    font-size: 14px;
    font-weight: 500;
    color:#141414;
    text-transform: uppercase;
}

.events_items {
    margin-bottom: 124px;
}

.events_item {
    margin-bottom: 72px;
    margin-right: 28px;
}

.events_item:last-child {
    margin-bottom: 0;
    margin-right: 0;
}

.events_img {
    margin-bottom: 12px;
}

.booking {
    margin-bottom: 56px;
}

.booking_h3 {
    font-size: 24px;
    font-weight: 600;
    /* color:#FFFFFF; */
}

.booking a {
    text-transform: uppercase;
}

.booking_items {
    margin-bottom: 75px;
}

/* Секция footer Начало */
.footer {
    font-size: 14px;
    font-weight: 400;
    color:#424242;
} 

.footer_p {
    font-weight: 600;
}
/* Секция footer Конец */




